<!DOCTYPE html>
<html>
<head>
  <title>Study Buddy</title>
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <link href="styles.css" rel="stylesheet">
</head>
<body>
        <div id="app">
                <v-app id="inspire" light>
                  <v-navigation-drawer
                    clipped
                    fixed
                    v-model="drawer"
                    app
                  >
                    <v-list dense>
                      <v-list-tile href=".">
                        <v-list-tile-action>
                          <v-icon color="blue">home</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                          <v-list-tile-title color= blue>Home</v-list-tile-title>
                        </v-list-tile-content>
                      </v-list-tile>

                      <v-list-tile href="study.html">
                        <v-list-tile-action>
                          <v-icon>local_library</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                          <v-list-tile-title>Study</v-list-tile-title>
                        </v-list-tile-content>
                      </v-list-tile>
                    </v-list>
                  </v-navigation-drawer>
                  <v-toolbar app fixed clipped-left>
                    <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
                    <v-toolbar-title>Study Buddy</v-toolbar-title>
                    <v-spacer></v-spacer>
                  <v-toolbar-items class="hidden-sm-and-down">
                        
                        <v-layout row justify-center>
                                <v-dialog v-model="dialog" persistent max-width="500px">
                                        <v-btn flat slot="activator">Log In</v-btn>
                                  <v-card>
                                    <v-card-title>
                                      <span class="headline">Log In</span>
                                    </v-card-title>
                                    <v-card-text>
                                      <v-container grid-list-md>
                                        <v-layout wrap>
                                          <v-flex xs12>
                                          <v-flex xs12>
                                            <v-text-field label="Email"></v-text-field>
                                          </v-flex>
                                          <v-flex xs12>
                                            <v-text-field label="Password" type="password" ></v-text-field>
                                          </v-flex>
                                          </v-flex>
                                        </v-layout>
                                      </v-container>
                    
                                    </v-card-text>
                                    <v-card-actions>
                                      <v-spacer></v-spacer>
                                      <v-btn color="blue darken-1" flat @click.native="dialog = false">Close</v-btn>
                                      <v-btn color="blue darken-1" flat @click.native="dialog = false">Log In</v-btn>
                                    </v-card-actions>
                                  </v-card>
                                </v-dialog>
                              </v-layout>
                  </v-toolbar-items>
                  </v-toolbar>
                  <v-content>
                        <section>
                                <v-parallax src="images/hero.jpeg" height="400">
                                  <v-layout
                                    column
                                    align-center
                                    justify-center
                                    class="white--text"
                                  >
                                    <h1 class="white--text mb-2 display-1 text-xs-center">Study Buddy</h1>
                                    <div class="subheading mb-3 text-xs-center">Everything's Better with Friends.</div>
                                   
                                  </v-layout>
                                </v-parallax>
                        </section>
                        <section>
                            <v-layout
                                column
                                wrap
                                class="my-5"
                                align-center
                            >
                                <v-flex xs12 sm4 class="my-3">
                                <div class="text-xs-center">
                                    <h2 class="headline">The best way to study.</h2>
                                </div>
                                </v-flex> 
                            </v-layout>
                        </section>
                        <v-card>
                                <v-container fluid grid-list-md>
                                  <v-layout row wrap>
                                    <v-flex
                                      v-bind="{ [`xs${card.flex}`]: true }"
                                      v-for="card in cards"
                                      :key="card.title"
                                    >
                                      <v-card>
                                        <v-card-media
                                          :src="card.src"
                                          height="200px"
                                        >
                                          <v-container fill-height fluid>
                                            <v-layout fill-height>
                                              <v-flex xs12 align-end flexbox>
                                                <span class="headline white--text" v-text="card.title"/>
                                              </v-flex>
                                            </v-layout>
                                          </v-container>
                                        </v-card-media>
                                        <v-card-text >
                                            <p v-text="card.text"></p>
                                              </v-card-text>
                                      </v-card>
                                    </v-flex>
                                  </v-layout>
                                </v-container>
                              </v-card>
                  </v-content>
                  <v-footer app fixed
                  class="text-xs-center"
                  >
                      <v-layout justify-center>
                            <v-flex xs12 py-3 text-xs-center white--text>
                                    <a href="https://github.com/michaelsimmons94/studybuddy">Source Code</a>
                            </v-flex>
                      </v-layout>
                  </v-footer>
                </v-app>
              </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script src='script.js'></script>
</body>
</html>